
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}